.form {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  width: 30vw;
  justify-content: center;
  margin: 0px auto;
  margin-top: 10vh;
  border-radius: 50px;
  background-color: #541054;
}
.form input {
  justify-content: space-around;
  margin: 3vh 0px;
  padding: 10px;
  padding-left: 20px;
  width: 20vw;
  font: italic;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 10px;
}

.button {
  margin-top: 3vh;
  padding: 10px;
  width: 150px;
  font-weight: 800;
  border-radius: 15px;
  cursor: pointer;
}
.backbtn {
  font-size: 1.5rem;
  margin-top: 4vh;
  margin-left: 30px;
  border-radius: 15px;
}
